@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>@Html.ActionLink("Contacts", "Index", "Contacts")<br /></h1></center>
</div>
<div class="jumbotron">
    <center><h1>@Html.ActionLink("Categories", "Index", "Categories")<br /></h1></center>
</div>
<div class="jumbotron">
    <center><h1>@Html.ActionLink("Business Categories", "Index", "BuisnessCategories")<br /></h1></center>
</div>